@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Pacifico&family=Playfair+Display:ital,wght@0,900;1,900&family=Tsukimi+Rounded:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1e2328 !important;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  scroll-behavior: "smooth";
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
